body {
  background-image: url('./img/bg4.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  height: 80vh; 
  width: 100%; 

}

.App {
  text-align: center;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: inline-block;
  z-index: 1000;
  width: 100%;
  background-image: url('./img/bg2.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  border-radius: 0px;

}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; 
}

nav li {
  display: inline;
  margin-right: 40px;
  margin-left: 40px;
}
nav a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

nav a:hover {
  background-image: url('./img/bg4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}